nav {
	display: inline-block;
	position: relative;
	top:-43px;
	&.menu-main-right-container {
		float: right;
		left: 35px;
	}
	ul.nav-bar {
		background: none;
		border: none;
		padding: 0;
		@include font-stack-heading;
		li {
			border: none;
			line-height: auto;
			a {
			padding: 0 1.1*$padding 0 0;
			font-size: 1.25*$fontsize;
			line-height: 1.3*$fontsize;
			color: $heading;
			text-transform: uppercase;
			//@include text-shadow(1px 1px rgba(0,0,0,.4));
			font-weight: 800;
			
			}
			&.current-menu-item a {color: #333;}
		}
	}
}
nav li a:hover, nav li.current_page_item a, nav li.current-menu-item a, nav li.current-menu-parent a, nav li.current-post-ancestor a  {color: $body;}