@font-face {
  font-family: 'Melbourne';
  src: url("../fonts/Melbourne%20regular%20basic.eot?#iefix") format("embedded-opentype"), url("../fonts/Melbourne%20regular%20basic.woff") format("woff"), url("../fonts/Melbourne%20regular%20basic.ttf") format("truetype"), url("../fonts/Melbourne%20regular%20basic.svg#svgFontName") format("svg");
}

/* Foundation v2.1.3 http://foundation.zurb.com */
/* Artfully Masterminded by ZURB */
/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Reset & Standards
:: Links
:: Lists
:: Tables
:: Misc
*/
/*	--------------------------------------------------
	:: Global Reset & Standards
	-------------------------------------------------- */
	/* 
		Eric Meyer's CSS Reset
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
   		License: none (public domain)
	*/
/* line 38, _foundation.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 45, _foundation.scss */
html {
  font-size: 62.5%;
}

/* HTML5 display-role reset for older browsers */
/* line 50, _foundation.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 53, _foundation.scss */
body {
  line-height: 1;
}

/* line 56, _foundation.scss */
ol, ul {
  list-style: none;
}

/* line 59, _foundation.scss */
blockquote, q {
  quotes: none;
}

/* line 63, _foundation.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 67, _foundation.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 72, _foundation.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 78, _foundation.scss */
body {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
/* line 85, _foundation.scss */
a {
  color: #2a85e8;
  text-decoration: none;
  line-height: inherit;
}

/* line 86, _foundation.scss */
a:hover {
  color: #11639d;
}

/* line 87, _foundation.scss */
a:focus {
  color: #cc4714;
  outline: none;
}

/* line 88, _foundation.scss */
p a, p a:visited {
  line-height: inherit;
}

/*	--------------------------------------------------
	:: Lists
	-------------------------------------------------- */
/* line 94, _foundation.scss */
ul, ol {
  margin-bottom: 18px;
}

/* line 95, _foundation.scss */
ul {
  list-style: none outside;
}

/* line 96, _foundation.scss */
ol {
  list-style: decimal;
}

/* line 97, _foundation.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 98, _foundation.scss */
ul.square {
  list-style: square outside;
}

/* line 99, _foundation.scss */
ul.circle {
  list-style: circle outside;
}

/* line 100, _foundation.scss */
ul.disc {
  list-style: disc outside;
}

/* line 101, _foundation.scss */
li {
  margin-bottom: 12px;
}

/* line 102, _foundation.scss */
ul.large li {
  line-height: 21px;
}

/*	--------------------------------------------------
	:: Tables
	-------------------------------------------------- */
/* line 108, _foundation.scss */
table {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 18px;
  border: 1px solid #ddd;
}

/* line 110, _foundation.scss */
table thead, table tfoot {
  background: #f5f5f5;
}

/* line 115, _foundation.scss */
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

/* line 117, _foundation.scss */
table thead tr th,
table tfoot tr td {
  padding: 8px 10px 9px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
}

/* line 118, _foundation.scss */
table thead tr th:first-child, table tfoot tr td:first-child {
  border-left: none;
}

/* line 119, _foundation.scss */
table thead tr th:last-child, table tfoot tr td:last-child {
  border-right: none;
}

/* line 122, _foundation.scss */
table tbody tr.even,
table tbody tr.alt {
  background: #f9f9f9;
}

/* line 123, _foundation.scss */
table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

/* line 124, _foundation.scss */
table tbody tr td {
  color: #333;
  padding: 9px 10px;
  vertical-align: top;
  border: none;
}

/* -------------------------------------------------- 
	:: Misc
---------------------------------------------------*/
/* line 129, _foundation.scss */
.left {
  float: left;
}

/* line 130, _foundation.scss */
.right {
  float: right;
}

/* line 131, _foundation.scss */
.hide {
  display: none;
}

/* line 132, _foundation.scss */
.highlight {
  background: #ff0;
}

/* line 133, _foundation.scss */
.entry img {
  margin: 0 0 1.5em 0;
}

/* line 134, _foundation.scss */
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}

/* line 139, _foundation.scss */
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}

/* line 144, _foundation.scss */
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* line 151, _foundation.scss */
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}

/* line 156, _foundation.scss */
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}

/* line 161, _foundation.scss */
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}

/* Arfully Masterminded by ZURB */
	/**
 	 * Print styles.
	 *
	 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
	 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
	 */
@media print {
  /* line 177, _foundation.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 179, _foundation.scss */
  p a, p a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 180, _foundation.scss */
  p a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 181, _foundation.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 182, _foundation.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 183, _foundation.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 184, _foundation.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 185, _foundation.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 187, _foundation.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 188, _foundation.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* Arfully Masterminded by ZURB */
/* --------------------------------------------------
	:: Grid
	
	This is the mobile-friendly, responsive grid that
	lets Foundation work much of its magic.
	
	-------------------------------------------------- */
/* line 199, _foundation.scss */
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* line 201, _foundation.scss */
.row {
  width: 100%;
  max-width: 980px;
  min-width: 727px;
  margin: 0 auto;
}

/* To fix the grid into a certain size, set max-width to width */
/* line 203, _foundation.scss */
.row .row {
  min-width: 0;
}

/* line 205, _foundation.scss */
.column, .columns {
  margin-left: 4.4%;
  float: left;
  min-height: 1px;
  position: relative;
}

/* line 206, _foundation.scss */
.column:first-child, .columns:first-child {
  margin-left: 0;
}

/* line 208, _foundation.scss */
.row .one.columns {
  width: 4.3%;
}

/* line 209, _foundation.scss */
.row .two.columns {
  width: 13%;
}

/* line 210, _foundation.scss */
.row .three.columns {
  width: 21.68%;
}

/* line 211, _foundation.scss */
.row .four.columns {
  width: 30.4%;
}

/* line 212, _foundation.scss */
.row .five.columns {
  width: 39.1%;
}

/* line 213, _foundation.scss */
.row .six.columns {
  width: 47.8%;
}

/* line 214, _foundation.scss */
.row .seven.columns {
  width: 56.5%;
}

/* line 215, _foundation.scss */
.row .eight.columns {
  width: 65.2%;
}

/* line 216, _foundation.scss */
.row .nine.columns {
  width: 73.9%;
}

/* line 217, _foundation.scss */
.row .ten.columns {
  width: 82.6%;
}

/* line 218, _foundation.scss */
.row .eleven.columns {
  width: 91.3%;
}

/* line 219, _foundation.scss */
.row .twelve.columns {
  width: 100%;
}

/* line 221, _foundation.scss */
.row .offset-by-one {
  margin-left: 13.1%;
}

/* line 222, _foundation.scss */
.row .offset-by-two {
  margin-left: 21.8%;
}

/* line 223, _foundation.scss */
.row .offset-by-three {
  margin-left: 30.5%;
}

/* line 224, _foundation.scss */
.row .offset-by-four {
  margin-left: 39.2%;
}

/* line 225, _foundation.scss */
.row .offset-by-five {
  margin-left: 47.9%;
}

/* line 226, _foundation.scss */
.row .offset-by-six {
  margin-left: 56.6%;
}

/* line 227, _foundation.scss */
.row .offset-by-seven {
  margin-left: 65.3%;
}

/* line 228, _foundation.scss */
.row .offset-by-eight {
  margin-left: 74.0%;
}

/* line 229, _foundation.scss */
.row .offset-by-nine {
  margin-left: 82.7%;
}

/* line 230, _foundation.scss */
.row .offset-by-ten {
  margin-left: 91.4%;
}

/* line 232, _foundation.scss */
.row .centered {
  float: none;
  margin: 0 auto;
}

/* line 234, _foundation.scss */
.row .offset-by-one:first-child {
  margin-left: 8.7%;
}

/* line 235, _foundation.scss */
.row .offset-by-two:first-child {
  margin-left: 17.4%;
}

/* line 236, _foundation.scss */
.row .offset-by-three:first-child {
  margin-left: 26.1%;
}

/* line 237, _foundation.scss */
.row .offset-by-four:first-child {
  margin-left: 34.8%;
}

/* line 238, _foundation.scss */
.row .offset-by-five:first-child {
  margin-left: 43.5%;
}

/* line 239, _foundation.scss */
.row .offset-by-six:first-child {
  margin-left: 52.2%;
}

/* line 240, _foundation.scss */
.row .offset-by-seven:first-child {
  margin-left: 60.9%;
}

/* line 241, _foundation.scss */
.row .offset-by-eight:first-child {
  margin-left: 69.6%;
}

/* line 242, _foundation.scss */
.row .offset-by-nine:first-child {
  margin-left: 78.3%;
}

/* line 243, _foundation.scss */
.row .offset-by-ten:first-child {
  margin-left: 87%;
}

/* line 244, _foundation.scss */
.row .offset-by-eleven:first-child {
  margin-left: 95.7%;
}

/* line 246, _foundation.scss */
img, object, embed {
  max-width: 100%;
  height: auto;
}

/* line 247, _foundation.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* Nicolas Gallagher's micro clearfix */
/* line 250, _foundation.scss */
.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 251, _foundation.scss */
.row:after, .clearfix:after {
  clear: both;
}

/* line 252, _foundation.scss */
.row, .clearfix {
  zoom: 1;
}

/*	--------------------------------------------------
	:: Block grids
	
	These are 2-up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones
	-------------------------------------------------- */
/* line 266, _foundation.scss */
.block-grid {
  display: block;
  overflow: hidden;
}

/* line 267, _foundation.scss */
.block-grid > li {
  display: block;
  height: auto;
  float: left;
}

/* line 269, _foundation.scss */
.block-grid.two-up {
  margin-left: -4%;
}

/* line 270, _foundation.scss */
.block-grid.two-up > li {
  margin-left: 4%;
  width: 46%;
}

/* line 272, _foundation.scss */
.block-grid.three-up {
  margin-left: -2%;
}

/* line 273, _foundation.scss */
.block-grid.three-up > li {
  margin-left: 2%;
  width: 31.3%;
}

/* line 275, _foundation.scss */
.block-grid.four-up {
  margin-left: -2%;
}

/* line 276, _foundation.scss */
.block-grid.four-up > li {
  margin-left: 2%;
  width: 23%;
}

/* line 278, _foundation.scss */
.block-grid.five-up {
  margin-left: -1.5%;
}

/* line 279, _foundation.scss */
.block-grid.five-up > li {
  margin-left: 1.5%;
  width: 18.5%;
}

/* Artfully masterminded by ZURB  */
/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Buttons
:: Alerts
:: Notices/Alerts
:: Tabs
:: Pagination
:: Lists
:: Panels
:: Nav
:: Microformats
*/
/*	--------------------------------------------------
	Buttons
	-------------------------------------------------- */
/* line 306, _foundation.scss */
.button {
  background: #00a6fc;
  display: inline-block;
  text-align: center;
  padding: 9px 34px 11px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  position: relative;
  cursor: pointer;
  border: none;
}

/* Don't use native buttons on iOS */
/* line 322, _foundation.scss */
input[type=submit].button {
  -webkit-appearance: none;
}

/* line 324, _foundation.scss */
.button.nice {
  background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.28);
  background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px, -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, transparent 100%);
  background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, transparent));
  border: 1px solid #0593dc;
  -webkit-transition: background-color .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out;
}

/* line 337, _foundation.scss */
.button.radius {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 342, _foundation.scss */
.button.round {
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}

/* line 348, _foundation.scss */
.button.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

/* line 355, _foundation.scss */
.button.left-align {
  text-align: left;
  text-indent: 12px;
}

/* Sizes ---------- */
/* line 361, _foundation.scss */
.small.button {
  font-size: 11px;
  padding: 8px 20px 10px;
  width: auto;
}

/* line 362, _foundation.scss */
.medium.button {
  font-size: 13px;
  width: auto;
}

/* line 363, _foundation.scss */
.large.button {
  font-size: 18px;
  padding: 11px 48px 13px;
  width: auto;
}

/* Nice Sizes ---------- */
/* line 366, _foundation.scss */
.nice.small.button {
  background-position: 0 -36px;
}

/* line 367, _foundation.scss */
.nice.large.button {
  background-position: 0 -30px;
}

/* Colors ---------- */
/* line 370, _foundation.scss */
.blue.button {
  background-color: #00a6fc;
}

/* line 371, _foundation.scss */
.red.button {
  background-color: #e91c21;
}

/* line 372, _foundation.scss */
.white.button {
  background-color: #e9e9e9;
  color: #333;
}

/* line 373, _foundation.scss */
.black.button {
  background-color: #141414;
}

/* Nice Colors ---------- */
/* line 376, _foundation.scss */
.nice.blue.button {
  border: 1px solid #0593dc;
}

/* line 377, _foundation.scss */
.nice.red.button {
  border: 1px solid #b90b0b;
}

/* line 378, _foundation.scss */
.nice.white.button {
  border: 1px solid #cacaca;
  text-shadow: none !important;
}

/* line 379, _foundation.scss */
.nice.black.button {
  border: 1px solid #000;
}

/* Hovers ---------- */
/* line 382, _foundation.scss */
.button:hover, .button:focus {
  background-color: #0192dd;
  color: #fff;
}

/* line 383, _foundation.scss */
.blue.button:hover, .blue.button:focus {
  background-color: #0192dd;
}

/* line 384, _foundation.scss */
.red.button:hover, .red.button:focus {
  background-color: #d01217;
}

/* line 385, _foundation.scss */
.white.button:hover, .white.button:focus {
  background-color: #dadada;
  color: #333;
}

/* line 386, _foundation.scss */
.black.button:hover, .black.button:focus {
  background-color: #000;
}

/* Disabled ---------- */
/* line 389, _foundation.scss */
.button.disabled, .button[disabled] {
  opacity: 0.6;
  cursor: default;
}

/*	--------------------------------------------------
	Alerts
	-------------------------------------------------- */
/* line 397, _foundation.scss */
div.alert-box {
  display: block;
  padding: 6px 7px;
  font-weight: bold;
  font-size: 13px;
  background: #eee;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.9);
  position: relative;
}

/* line 398, _foundation.scss */
.alert-box.success {
  background-color: #7fae00;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}

/* line 399, _foundation.scss */
.alert-box.warning {
  background-color: #c08c00;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}

/* line 400, _foundation.scss */
.alert-box.error {
  background-color: #c00000;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}

/* line 402, _foundation.scss */
.alert-box a.close {
  color: #000;
  position: absolute;
  right: 4px;
  top: 0;
  font-size: 18px;
  opacity: 0.2;
  padding: 4px;
}

/* line 403, _foundation.scss */
.alert-box a.close:hover, .alert-box a.close:focus {
  opacity: 0.4;
}

/*    --------------------------------------------------
    Tabs
    -------------------------------------------------- */
/* line 409, _foundation.scss */
dl.tabs {
  display: block;
  margin: 0;
  padding: 0;
  height: 30px;
}

/* line 410, _foundation.scss */
dl.tabs dt {
  display: block;
  width: auto;
  height: 30px;
  line-height: 30px;
  float: left;
}

/* line 411, _foundation.scss */
dl.tabs dt:first-child {
  padding: 0 9px 0 0;
}

/* line 412, _foundation.scss */
dl.tabs dd {
  display: block;
  width: auto;
  height: 30px;
  float: left;
}

/* line 413, _foundation.scss */
dl.tabs dd a {
  display: block;
  width: auto;
}

/* line 417, _foundation.scss */
.nice.tabs dd a {
  position: relative;
}

/* line 418, _foundation.scss */
.nice.tabs dd a.active {
  font-weight: bold;
  border-top: 3px solid #89cede;
}

/* line 419, _foundation.scss */
.nice.tabs dd a:hover {
  border-top: 3px solid #89cede;
}

/* line 420, _foundation.scss */
.nice.tabs dd:first-child a.active {
  margin-left: 0;
}

/* line 423, _foundation.scss */
ul.tabs-content {
  margin: 0;
  display: block;
}

/* line 424, _foundation.scss */
ul.tabs-content > li {
  display: none;
}

/* line 425, _foundation.scss */
ul.tabs-content > li.active {
  display: block;
}

/* line 426, _foundation.scss */
ul.tabs-content > li ul li {
  display: list-item !important;
}

/* line 427, _foundation.scss */
dl.contained.tabs dd a {
  padding: 0 14px;
}

/* line 428, _foundation.scss */
dl.nice.contained.tabs dd a {
  padding: 7px 18px 9px;
}

/* line 430, _foundation.scss */
ul.contained.tabs-content {
  padding: 0;
}

/* line 431, _foundation.scss */
ul.contained.tabs-content > li {
  padding: 20px;
}

/*  --------------------------------------------------
    Pagination
    -------------------------------------------------- */
/* line 436, _foundation.scss */
ul.pagination {
  display: block;
  height: 24px;
  margin-left: -5px;
}

/* line 437, _foundation.scss */
ul.pagination li {
  float: left;
  display: block;
  height: 24px;
  color: #999;
  font-size: 15px;
  margin-left: 5px;
}

/* line 438, _foundation.scss */
ul.pagination li a {
  display: block;
  padding: 6px 7px 4px;
  color: #555;
}

/* line 439, _foundation.scss */
ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus {
  border-bottom: solid 2px #00a6fc;
  color: #141414;
}

/* line 440, _foundation.scss */
ul.pagination li.unavailable a {
  cursor: default;
  color: #999;
}

/* line 441, _foundation.scss */
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus {
  border-bottom: none;
}

/*  --------------------------------------------------
    Lists
    -------------------------------------------------- */
/* line 446, _foundation.scss */
ul.nice, ol.nice {
  list-style: none;
  margin: 0;
}

/* line 447, _foundation.scss */
ul.nice li, ol.nice li {
  padding-left: 13px;
  position: relative;
}

/* line 448, _foundation.scss */
ul.nice li span.bullet, ol.nice li span.number {
  position: absolute;
  left: 0;
  top: 0;
  color: #ccc;
}

/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
/* line 453, _foundation.scss */
div.panel {
  padding: 20px 20px 2px 20px;
  /*background-color: #ffffff;*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(221, 221, 221, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(221, 221, 221, 0.5));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(221, 221, 221, 0.5));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(221, 221, 221, 0.5));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(221, 221, 221, 0.5));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(221, 221, 221, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#dddddd');
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  margin: 0 0 20px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/*	--------------------------------------------------
   	Nav Bar with Dropdowns
	-------------------------------------------------- */
/* line 477, _foundation.scss */
.nav-bar > li {
  float: left;
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  border-right: 1px solid #ddd;
  line-height: 45px;
}

/* line 478, _foundation.scss */
.nav-bar > li > a {
  position: relative;
  font-size: 14px;
  padding: 0 20px;
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-size: 1.5rem;
}

/* line 479, _foundation.scss */
.nav-bar > li > input {
  margin: 0 16px;
}

/* line 480, _foundation.scss */
.nav-bar > li ul {
  margin-bottom: 0;
}

/* line 481, _foundation.scss */
.nav-bar > li li {
  line-height: 1.3;
}

/* line 482, _foundation.scss */
.nav-bar > li.has-flyout > a {
  padding-right: 36px;
}

/* line 483, _foundation.scss */
.nav-bar > li.has-flyout > a:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #2a85e8;
  display: block;
  position: absolute;
  right: 18px;
  bottom: 20px;
}

/* line 484, _foundation.scss */
.nav-bar > li:hover > a {
  color: #141414;
  z-index: 2;
}

/* line 485, _foundation.scss */
.nav-bar > li:hover > a:after {
  border-top-color: #141414;
}

/* line 487, _foundation.scss */
.flyout {
  background: #fff;
  margin: 0;
  padding: 20px;
  border: 1px solid #ddd;
  position: absolute;
  top: 45px;
  left: -1px;
  width: 400px;
  z-index: 10;
}

/* line 488, _foundation.scss */
.flyout.small {
  width: 200px;
}

/* line 489, _foundation.scss */
.flyout.large {
  width: 600px;
}

/* line 490, _foundation.scss */
.flyout.right {
  left: auto;
  right: 0;
}

/* line 491, _foundation.scss */
.flyout p:last-child {
  margin-bottom: 0;
}

/* line 492, _foundation.scss */
.nav-bar > li .flyout {
  display: none;
}

/* line 493, _foundation.scss */
.nav-bar > li:hover .flyout {
  display: block;
}

/*	--------------------------------------------------
   	Microformats
	-------------------------------------------------- */
/* hCard */
/* line 502, _foundation.scss */
ul.vcard {
  display: inline-block;
  margin: 0 0 12px 0;
  border: 1px solid #ddd;
  padding: 10px;
}

/* line 503, _foundation.scss */
ul.vcard li {
  margin: 0;
  display: block;
}

/* line 504, _foundation.scss */
ul.vcard li.fn {
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
}

/* line 506, _foundation.scss */
p.vevent span.summary {
  font-weight: bold;
}

/* line 507, _foundation.scss */
p.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 1px;
}

/* 	Artfully masterminded by ZURB  
	Make sure to include app.js / foundation.js if you are going to use inline label inputs 
*/
/* -----------------------------------------
   Standard Forms
----------------------------------------- */
/* line 522, _foundation.scss */
form {
  margin: 0 0 18px;
}

/* line 523, _foundation.scss */
form label {
  display: block;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
  margin-bottom: 9px;
}

/* line 525, _foundation.scss */
input.input-text, textarea {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

/* line 526, _foundation.scss */
input.input-text, textarea, select {
  display: block;
  margin-bottom: 9px;
}

/* line 527, _foundation.scss */
label + input.input-text, label + textarea, label + select, label + div.dropdown, select + div.dropdown {
  margin-top: -9px;
}

/* Text input and textarea font and padding */
/* line 530, _foundation.scss */
input.input-text, textarea {
  font-size: 13px;
  padding: 4px 3px 2px;
  background: #fff;
}

/* line 531, _foundation.scss */
input.input-text:focus, textarea:focus {
  outline: none !important;
}

/* line 532, _foundation.scss */
input.input-text.oversize, textarea.oversize {
  font-size: 18px !important;
  padding: 4px 5px !important;
}

/* line 533, _foundation.scss */
input.input-text:focus, textarea:focus {
  background: #f9f9f9;
}

/* Inlined Label Style */
/* line 536, _foundation.scss */
input.placeholder, textarea.placeholder {
  color: #888;
}

/* Text input and textarea sizes */
/* line 539, _foundation.scss */
input.input-text, textarea {
  width: 254px;
}

/* line 540, _foundation.scss */
input.small, textarea.small {
  width: 134px;
}

/* line 541, _foundation.scss */
input.medium, textarea.medium {
  width: 254px;
}

/* line 542, _foundation.scss */
input.large, textarea.large {
  width: 434px;
}

/* Fieldsets */
/* line 545, _foundation.scss */
form fieldset {
  padding: 9px 9px 2px 9px;
  border: solid 1px #ddd;
  margin: 18px 0;
}

/* Inlined Radio & Checkbox */
/* line 548, _foundation.scss */
.form-field input[type=radio], div.form-field input[type=checkbox] {
  display: inline;
  width: auto;
  margin-bottom: 0;
}

/* Errors */
/* line 551, _foundation.scss */
.form-field.error input, input.input-text.red {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.15);
}

/* line 552, _foundation.scss */
.form-field.error label, label.red {
  color: red;
}

/* line 553, _foundation.scss */
.form-field.error small, small.error {
  margin-top: -6px;
  display: block;
  margin-bottom: 9px;
  font-size: 11px;
  color: red;
  width: 260px;
}

/* line 555, _foundation.scss */
.small + small.error {
  width: 140px;
}

/* line 556, _foundation.scss */
.medium + small.error {
  width: 260px;
}

/* line 557, _foundation.scss */
.large + small.error {
  width: 440px;
}

/* -----------------------------------------
   Nicer Forms
----------------------------------------- */
/* line 562, _foundation.scss */
form.nice div.form-field input, form.nice input.input-text, form.nice textarea {
  border: solid 1px #bbb;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

/* line 563, _foundation.scss */
form.nice div.form-field input, form.nice input.input-text, form.nice textarea {
  font-size: 13px;
  padding: 6px 3px 4px;
  outline: none !important;
  background: url(../images/misc/input-bg.png) white;
}

/* line 564, _foundation.scss */
form.nice div.form-field input:focus, form.nice input.input-text:focus, form.nice textarea:focus {
  background-color: #f9f9f9;
}

/* line 566, _foundation.scss */
form.nice fieldset {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

/* line 568, _foundation.scss */
form.nice div.form-field input[type=radio], form.nice div.form-field input[type=checkbox] {
  display: inline;
  width: auto;
  margin-bottom: 0;
}

/* line 570, _foundation.scss */
form.nice div.form-field.error small, form.nice small.error {
  padding: 6px 4px;
  border: solid 0 red;
  border-width: 0 1px 1px 1px;
  margin-top: -10px;
  background: red;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
}

/* line 572, _foundation.scss */
form.nice div.form-field.error .small + small, form.nice .small + small.error {
  width: 132px;
}

/* line 573, _foundation.scss */
form.nice div.form-field.error .medium + small, form.nice .medium + small.error {
  width: 252px;
}

/* line 574, _foundation.scss */
form.nice div.form-field.error .large + small, form.nice .large + small.error {
  width: 432px;
}

/* -----------------------------------------
   Custom Forms
----------------------------------------- */
/* line 580, _foundation.scss */
form.custom span.custom {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;
  border: solid 1px #ccc;
  background: url(../images/misc/custom-form-sprites.png) 0 0 no-repeat;
}

/* line 581, _foundation.scss */
form.custom span.custom.radio {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

/* line 582, _foundation.scss */
form.custom span.custom.radio.checked {
  background-position: 0 -14px;
}

/* line 583, _foundation.scss */
form.custom span.custom.checkbox.checked {
  background-position: 0 -28px;
}

/* line 585, _foundation.scss */
form.custom div.custom.dropdown {
  position: relative;
  display: inline-block;
  width: auto;
  height: 28px;
  margin-bottom: 9px;
}

/* line 586, _foundation.scss */
form.custom div.custom.dropdown a.current {
  display: block;
  width: auto;
  line-height: 26px;
  padding: 0 38px 0 6px;
  border: solid 1px #ddd;
  color: #141414;
}

/* line 587, _foundation.scss */
form.custom div.custom.dropdown a.selector {
  position: absolute;
  width: 26px;
  height: 26px;
  display: block;
  background: url(../images/misc/custom-form-sprites.png) -14px 0 no-repeat;
  right: 0;
  top: 0;
  border: solid 1px #ddd;
}

/* line 589, _foundation.scss */
form.custom div.custom.dropdown:hover a.selector,
form.custom div.custom.dropdown.open a.selector {
  background-position: -14px -26px;
}

/* line 591, _foundation.scss */
form.custom div.custom.dropdown ul {
  position: absolute;
  width: auto;
  display: none;
  margin: 0;
  left: 0;
  top: 27px;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.9);
  border: solid 1px #ddd;
  z-index: 10;
}

/* line 592, _foundation.scss */
form.custom div.custom.dropdown ul li {
  cursor: pointer;
  padding: 3px 38px 3px 6px;
  margin: 0;
}

/* line 593, _foundation.scss */
form.custom div.custom.dropdown ul li.selected {
  background: url(../images/misc/custom-form-sprites.png) right -52px no-repeat;
}

/* line 594, _foundation.scss */
form.custom div.custom.dropdown ul li:hover {
  background-color: #2a85e8;
  color: #fff;
}

/* line 595, _foundation.scss */
form.custom div.custom.dropdown ul li.selected:hover {
  background: url(../images/misc/custom-form-sprites.png) #2a85e8 right -78px no-repeat;
}

/* line 596, _foundation.scss */
form.custom div.custom.dropdown ul.show {
  display: block;
}

/* line 598, _foundation.scss */
form.custom div.custom.dropdown.open ul {
  display: block;
}

/* CSS for jQuery Orbit Plugin 1.2.3
 * www.ZURB.com/playground
 * Copyright 2010, ZURB
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 
 
 
/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
/* line 611, _foundation.scss */
#caseStudies {
  width: 1000px;
  height: 210px;
  background: white url("../images/orbit/loading.gif") no-repeat center center;
  overflow: hidden;
}

/* line 618, _foundation.scss */
#caseStudies > img,
#caseStudies > div,
#caseStudies > a {
  display: none;
}

/* CONTAINER
   ================================================== */
/* line 626, _foundation.scss */
div.orbit-wrapper {
  width: 1px;
  height: 1px;
  position: relative;
}

/* line 631, _foundation.scss */
div.orbit {
  width: 1px;
  height: 1px;
  position: relative;
  overflow: hidden;
}

/* line 637, _foundation.scss */
div.orbit.with-bullets {
  margin-bottom: 40px;
}

/* line 641, _foundation.scss */
div.orbit > img {
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
}

/* line 647, _foundation.scss */
div.orbit > a {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  display: none;
}

/* line 655, _foundation.scss */
.orbit > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */
/* TIMER
   ================================================== */
/* line 668, _foundation.scss */
div.timer {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .6;
  cursor: pointer;
  z-index: 1001;
}

/* line 679, _foundation.scss */
span.rotator {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -20px;
  background: url(../images/orbit/rotator-black.png) no-repeat;
  z-index: 3;
}

/* line 689, _foundation.scss */
span.mask {
  display: block;
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

/* line 699, _foundation.scss */
span.rotator.move {
  left: 0;
}

/* line 702, _foundation.scss */
span.mask.move {
  width: 40px;
  left: 0;
  background: url(../images/orbit/timer-black.png) repeat 0 0;
}

/* line 707, _foundation.scss */
span.pause {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/orbit/pause-black.png) no-repeat;
  z-index: 4;
  opacity: 0;
}

/* line 718, _foundation.scss */
span.pause.active {
  background: url(../images/orbit/pause-black.png) no-repeat 0 -40px;
}

/* line 722, _foundation.scss */
div.timer:hover span.pause,
span.pause.active {
  opacity: 1;
}

/* CAPTIONS
   ================================================== */
/* line 729, _foundation.scss */
.orbit-caption {
  display: none;
  font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

/* line 733, _foundation.scss */
.orbit-wrapper .orbit-caption {
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

/* DIRECTIONAL NAV
   ================================================== */
/* line 750, _foundation.scss */
div.slider-nav {
  display: block;
}

/* line 753, _foundation.scss */
div.slider-nav span {
  width: 78px;
  height: 100px;
  text-indent: -9999px;
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
}

/* line 763, _foundation.scss */
div.slider-nav span.right {
  background: url(../images/orbit/right-arrow.png);
  right: 0;
}

/* line 767, _foundation.scss */
div.slider-nav span.left {
  background: url(../images/orbit/left-arrow.png);
  left: 0;
}

/* BULLET NAV
   ================================================== */
/* line 774, _foundation.scss */
.orbit-bullets {
  position: absolute;
  z-index: 1000;
  list-style: none;
  bottom: -40px;
  left: 50%;
  margin-left: -50px;
  padding: 0;
}

/* line 783, _foundation.scss */
.orbit-bullets li {
  float: left;
  margin-left: 5px;
  cursor: pointer;
  color: #999;
  text-indent: -9999px;
  background: url(../images/orbit/bullets.jpg) no-repeat 4px 0;
  width: 13px;
  height: 12px;
  overflow: hidden;
}

/* line 794, _foundation.scss */
.orbit-bullets li.active {
  color: #222;
  background-position: -8px 0;
}

/* line 798, _foundation.scss */
.orbit-bullets li.has-thumb {
  background: none;
  width: 100px;
  height: 75px;
}

/* line 803, _foundation.scss */
.orbit-bullets li.active.has-thumb {
  background-position: 0 0;
  border-top: 2px solid #000;
}

/* FLUID LAYOUT
   ================================================== */
/* line 809, _foundation.scss */
.orbit .fluid-placeholder {
  visibility: hidden;
  position: static;
  display: block;
  width: 100%;
}

/* line 816, _foundation.scss */
.orbit, .orbit-wrapper {
  width: 100% !important;
}

/* line 818, _foundation.scss */
.orbit-bullets {
  position: absolute;
  z-index: 1000;
  list-style: none;
  bottom: -50px;
  left: 50%;
  margin-left: -50px;
  padding: 0;
}

/* line 827, _foundation.scss */
.orbit-bullets li {
  float: left;
  margin-left: 5px;
  cursor: pointer;
  color: #999;
  text-indent: -9999px;
  background: url(../images/orbit/bullets.jpg) no-repeat 4px 0;
  width: 13px;
  height: 12px;
  overflow: hidden;
}

/* line 838, _foundation.scss */
.orbit-bullets li.has-thumb {
  background: none;
  width: 100px;
  height: 75px;
}

/* line 843, _foundation.scss */
.orbit-bullets li.active {
  color: #222;
  background-position: -8px 0;
}

/* line 847, _foundation.scss */
.orbit-bullets li.active.has-thumb {
  background-position: 0 0;
  border-top: 2px solid #000;
}

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
/* line 854, _foundation.scss */
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 2000;
  display: none;
  top: 0;
  left: 0;
}

/* line 865, _foundation.scss */
.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 520px;
  background: #eeeeee url(../images/misc/modal-gloss.png) no-repeat -200px -80px;
  position: absolute;
  z-index: 2001;
  padding: 30px 40px 34px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* line 883, _foundation.scss */
.reveal-modal.small {
  width: 200px;
  margin-left: -140px;
}

/* line 884, _foundation.scss */
.reveal-modal.medium {
  width: 400px;
  margin-left: -240px;
}

/* line 885, _foundation.scss */
.reveal-modal.large {
  width: 600px;
  margin-left: -340px;
}

/* line 886, _foundation.scss */
.reveal-modal.xlarge {
  width: 800px;
  margin-left: -440px;
}

/* line 888, _foundation.scss */
.reveal-modal .close-reveal-modal {
  font-size: 22px;
  line-height: .5;
  position: absolute;
  top: 8px;
  right: 11px;
  color: #aaa;
  text-shadow: 0 -1px 1px rbga(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer;
}

/* line 900, _foundation.scss */
.reveal-modal .row {
  min-width: 0;
}

/* Mobile */
@media handheld, only screen and (device-width: 768px), (device-width: 800px) {
  /* line 907, _foundation.scss */
  .reveal-modal-bg {
    position: absolute;
  }

  /* line 913, _foundation.scss */
  .reveal-modal,
  .reveal-modal.small,
  .reveal-modal.medium,
  .reveal-modal.large,
  .reveal-modal.xlarge {
    width: 60%;
    top: 30%;
    left: 15%;
    margin-left: 0;
    padding: 5%;
    height: auto;
  }
}
@media handheld, only screen and (max-width: 767px) {
  /* line 917, _foundation.scss */
  .reveal-modal-bg {
    position: absolute;
  }

  /* line 923, _foundation.scss */
  .reveal-modal,
  .reveal-modal.small,
  .reveal-modal.medium,
  .reveal-modal.large,
  .reveal-modal.xlarge {
    width: 80%;
    top: 15%;
    left: 5%;
    margin-left: 0;
    padding: 5%;
    height: auto;
  }
}
/*
		
NOTES

Close button entity is &#215;

Example markup

<div id="myModal" class="reveal-modal">
	<h2>Awesome. I have it.</h2>
	<p class="lead">Your couch.  I it's mine.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
	<a class="close-reveal-modal">&#215;</a>
</div>

*/
/* -------------------------------------------------- 
	:: Mobile Visibility Affordances
---------------------------------------------------*/
/* line 950, _foundation.scss */
.show-on-phones {
  display: none !important;
}

/* line 951, _foundation.scss */
.show-on-tablets {
  display: none !important;
}

/* line 952, _foundation.scss */
.show-on-desktops {
  display: block !important;
}

/* line 954, _foundation.scss */
.hide-on-phones {
  display: block !important;
}

/* line 955, _foundation.scss */
.hide-on-tablets {
  display: block !important;
}

/* line 956, _foundation.scss */
.hide-on-desktops {
  display: none !important;
}

/* only screen and (device-width: 1280px), only screen and (max-device-width: 1280px),  /*
/* Keeping this in as a reminder to address support for other tablet devices like the Xoom in the future */
/* Specific overrides for elements that require something other than display: block */
/* line 965, _foundation.scss */
table.show-on-desktops {
  display: table !important;
}

/* line 966, _foundation.scss */
table.hide-on-phones {
  display: table !important;
}

/* line 967, _foundation.scss */
table.hide-on-tablets {
  display: table !important;
}

/*! fancyBox v2.1.0 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 12, _fancybox.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 20, _fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 27, _fancybox.scss */
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 37, _fancybox.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 41, _fancybox.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 47, _fancybox.scss */
.fancybox-outer, .fancybox-inner {
  position: relative;
}

/* line 51, _fancybox.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 55, _fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 59, _fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 67, _fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 73, _fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 78, _fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../javascripts/fancybox/fancybox_sprite.png");
}

/* line 82, _fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

/* line 94, _fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../javascripts/fancybox/fancybox_loading.gif") center center no-repeat;
}

/* line 100, _fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 110, _fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../javascripts/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

/* line 122, _fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 126, _fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 130, _fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

/* line 141, _fancybox.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 146, _fancybox.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 151, _fancybox.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 155, _fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

/* Overlay helper */
/* line 164, _fancybox.scss */
.fancybox-lock {
  overflow: hidden;
}

/* line 168, _fancybox.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../javascripts/fancybox/fancybox_overlay.png");
}

/* line 178, _fancybox.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 184, _fancybox.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
/* line 191, _fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 199, _fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 203, _fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

/* line 212, _fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 228, _fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 234, _fancybox.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 238, _fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*	--------------------------------------------------
    :: Typography
	-------------------------------------------------- */
/* line 4, _typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #89cede;
  font-weight: bold;
  line-height: 1.25;
}

/* line 5, _typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 6, _typography.scss */
h1 {
  font-size: 56px;
  padding: 14px 0;
}

/* line 7, _typography.scss */
h2 {
  font-size: 42px;
  padding: 14px 0;
}

/* line 8, _typography.scss */
h3 {
  font-size: 28px;
  padding: 7px 0;
}

/* line 9, _typography.scss */
h4 {
  font-size: 21px;
  padding: 7px 0;
}

/* line 10, _typography.scss */
h5 {
  font-size: 14px;
  padding: 0 0 14px 0;
}

/* line 11, _typography.scss */
h6 {
  font-size: 14px;
  font-weight: normal;
}

/* line 13, _typography.scss */
.subheader {
  color: #777;
  font-weight: 300;
  margin-bottom: 24px;
}

/* line 15, _typography.scss */
p {
  line-height: 17px;
  margin: 0 0 18px;
}

/* line 16, _typography.scss */
p img {
  margin: 0;
}

/* line 17, _typography.scss */
p.lead {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
}

/* line 19, _typography.scss */
em, i {
  font-style: italic;
  line-height: inherit;
}

/* line 20, _typography.scss */
strong, b {
  font-weight: bold;
  line-height: inherit;
}

/* line 21, _typography.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 23, _typography.scss */
h1 small, h2 small, h3 small, h4 small, h5 small {
  color: #777;
}

/*	Blockquotes  */
/* line 26, _typography.scss */
blockquote, blockquote p {
  line-height: 20px;
  color: #777;
}

/* line 27, _typography.scss */
blockquote {
  margin: 0 0 18px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 28, _typography.scss */
blockquote cite {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  color: #555;
}

/* line 29, _typography.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 30, _typography.scss */
blockquote cite a, blockquote cite a:visited {
  color: #555;
}

/* line 32, _typography.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 12px 0 18px;
  height: 0;
}

/* line 34, _typography.scss */
abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222;
  border-bottom: 1px solid #ddd;
  cursor: help;
}

/* line 35, _typography.scss */
abbr {
  text-transform: none;
}

/* line 37, _typography.scss */
.entry ul {
  list-style: disc;
  list-style-position: outside;
  margin-left: 16px;
}
/* line 41, _typography.scss */
.entry ul.tabs-content {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 46, _typography.scss */
.entry ul li {
  margin: 0;
  padding: 0;
}

/* line 52, _typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Melbourne', sans-serif;
  padding-bottom: 14px;
  color: #89cede;
}
/* line 57, _typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #89cede;
}

/* line 62, _typography.scss */
a {
  color: #dc4e00;
}
/* line 64, _typography.scss */
a:hover, a:focus {
  color: #89cede;
}

/* line 69, _typography.scss */
p {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  line-height: 21px;
}

/* line 1, _navigation.scss */
nav {
  display: inline-block;
  position: relative;
  top: -43px;
}
/* line 5, _navigation.scss */
nav.menu-main-right-container {
  float: right;
  left: 35px;
}
/* line 9, _navigation.scss */
nav ul.nav-bar {
  background: none;
  border: none;
  padding: 0;
  font-family: 'Melbourne', sans-serif;
}
/* line 14, _navigation.scss */
nav ul.nav-bar li {
  border: none;
  line-height: auto;
}
/* line 17, _navigation.scss */
nav ul.nav-bar li a {
  padding: 0 15.4px 0 0;
  font-size: 17.5px;
  line-height: 18.2px;
  color: #89cede;
  text-transform: uppercase;
  font-weight: 800;
}
/* line 27, _navigation.scss */
nav ul.nav-bar li.current-menu-item a {
  color: #333;
}

/* line 31, _navigation.scss */
nav li a:hover, nav li.current_page_item a, nav li.current-menu-item a, nav li.current-menu-parent a, nav li.current-post-ancestor a {
  color: #333333;
}

/* line 11, app.scss */
body {
  font-family: 'Numans', sans-serif;
  background: #F4F5ED;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

/* line 19, app.scss */
#header {
  padding-top: 14px;
}
/* line 21, app.scss */
#header h1 {
  padding-top: 0px;
  text-align: center;
  position: relative;
  height: 200px;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 26, app.scss */
#header h1:before {
  content: "";
  position: absolute;
  width: 173px;
  height: 153px;
  background: url(../images/misc/pat_piano.png) no-repeat;
  top: 60px;
  left: 50%;
  margin-left: -96px;
}
/* line 36, app.scss */
#header h1 a {
  color: #dc4e00;
  font-family: 'Melbourne', sans-serif;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

/* line 46, app.scss */
a.shop {
  position: absolute;
  top: 20px;
  right: -20px;
  text-transform: uppercase;
  font-size: 18px;
}

/* line 54, app.scss */
a.feature, .entry .edd-submit.button.orange {
  background: #dc4e00;
}
/* line 56, app.scss */
a.feature:hover, .entry .edd-submit.button.orange:hover {
  background: #a93c00;
}

/* line 61, app.scss */
.entry .edd-submit {
  margin-top: 10px;
}

/* line 65, app.scss */
footer {
  padding-top: 28px;
  font-size: 11.2px;
}

/* line 71, app.scss */
.entry img {
  -webkit-box-shadow: 0 10px 10px -6px black;
  -moz-box-shadow: 0 10px 10px -6px black;
  box-shadow: 0 10px 10px -6px black;
}

/*******************************
/* Home */
/* line 83, app.scss */
.welcome {
  position: relative;
}
/* line 86, app.scss */
.welcome .eight .welcome-quote {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 15%;
  padding-top: 15%;
}

/* line 96, app.scss */
.latest-news {
  padding-top: 28px;
}

/*******************************
/* Gallery */
/* line 102, app.scss */
.gallery {
  padding-top: 28px;
}
/* line 104, app.scss */
.gallery li {
  list-style: none;
  float: left;
}
/* line 108, app.scss */
.gallery img {
  -webkit-box-shadow: 0 10px 10px -6px black;
  -moz-box-shadow: 0 10px 10px -6px black;
  box-shadow: 0 10px 10px -6px black;
  margin-right: 14px;
  margin-bottom: 14px;
}
/* line 114, app.scss */
.gallery img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/*******************************
/* About */
/* line 124, app.scss */
ul.tabs-content .panel {
  width: 40%;
  float: right;
  margin: 0 0 20px 20px;
  text-align: center;
}
/* line 129, app.scss */
ul.tabs-content .panel a {
  margin: 0 auto 10px;
  height: 89px;
  width: 150px;
  display: block;
  background: url("../images/misc/wombat.png") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
/* line 137, app.scss */
ul.tabs-content .panel a:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

/*******************************
/* links */
/* line 147, app.scss */
.links li {
  list-style: none;
  padding-bottom: 28px;
}
/* line 150, app.scss */
.links li a {
  font-size: 21px;
  font-weight: bold;
  display: block;
}

/*******************************
/* Papers */
/* line 162, app.scss */
.papers ul {
  list-style: none;
  margin-left: 0;
}
/* line 165, app.scss */
.papers ul li {
  padding-bottom: 14px;
}

/* line 170, app.scss */
.download {
  line-height: 40px;
  font-weight: bold;
}
/* line 173, app.scss */
.download a {
  height: 40px;
  width: 67px;
  display: inline-block;
  background: url("../images/misc/wombat.png") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
/* line 180, app.scss */
.download a:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

/* line 186, app.scss */
.feature-caption p.wp-caption-text {
  line-height: 30px;
}

@media (max-width: 600px) {
  /* line 192, app.scss */
  * {
    font-weight: normal !important;
  }
}
/***********************
/* Shop  */
/* line 201, app.scss */
.container .entry .gform_wrapper > li {
  margin-bottom: 1em !important;
}
/* line 205, app.scss */
.container .entry .gform_wrapper form .gfield.gfield_price {
  margin-bottom: 1em !important;
}
/* line 209, app.scss */
.container .entry .gform_wrapper h2.gsection_title {
  font-size: 1.8em;
  margin: 2em 0 0 !important;
}
/* line 214, app.scss */
.container .entry .gform_wrapper li.gfield_shipping {
  margin-top: 2em !important;
}
/* line 218, app.scss */
.container .entry .gform_wrapper li.gfield_shipping label.gfield_label, .container .entry .gform_wrapper li#field_2_11 label {
  font-size: 1.4em !important;
}
/* line 222, app.scss */
.container .entry .gform_wrapper input.button.gform_button {
  background: #89cede;
}
/* line 224, app.scss */
.container .entry .gform_wrapper input.button.gform_button:hover {
  background: #61bdd3;
}
